@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
$font: "Roboto", sans-serif;
$fs: 10px;
$fm: 15px;
$fl: 20px;
$fxl: 30px;
$fsxxl: 40px;

@mixin title-big($font-size) {
  font-size: $font-size;
}
